<div id="booked_item">
  <h2><%= booked_item[:descr] %></h2>
  <ul>
    <li>
      Weight: <%= booked_item[:gross_wt] %>
    </li>
    <li>
      Qty: <%= booked_item[:qty] %>
    </li>
  </ul>
</div>